/docs/build/

# ignore vscode
./vscode
/vscode

# ignore julia files
*.jl.cov
*.jl.*.cov
*.jl.mem
/deps/deps.jl
/docs/build
Manifest.toml

dev/Alloascoidea_hylecoeti.json
dev/Alloascoidea_hylecoeti_isozymes.json
dev/Alloascoidea_hylecoeti_molar_mass.json


*.json
